@charset "utf-8";
/* CSS Document */

/* Declare font here */



/* Declare global font sizes here */
:root {
    --name-size: 25px;
    --nav-size: 13px;
    --top-size: 15px;
    --work-h1-size: 20px;
    --work-h2-size: 15px;
    --work-p-size: 15px;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif !important!; 
    line-height: 25px; 
    font-size:15px;
}

a {
    text-decoration:none;
    color:#006CB8;
    }
    
    
a:hover {
    color:#00548F;
    cursor:pointer
}

.header {
    display: block;
    height: 100px;
}

.name_container {
    height: 100%;
    display: table;
    float: left;
}

.name_container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: var(--name-size);
    font-weight: bold;
}

.navbar {
    height: 100%;
    float: right;
}

.navbar a {
    height: 100%;
    display: table;
    float: left;
    padding-left: 20px;
}

.navbar a li {
    display: table-cell;
    vertical-align: middle;
    color: black;
    font-size: var(--nav-size);
}

.site .top_content {
    display: flex;
    flex-direction: row;
    padding-bottom:0px;
    padding-top:30px;
}

.site .top_text {
    padding-right: 2rem;
    float:left;
    font-size: var(--top-size);
}

.site .top_img img {
    width: 300x;
    height: 300px;
    display:flex;
    border-width: 3px;
    border-style: solid;
    border-color: #DCDCDC;
}

.penang-gif img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    padding-bottom:1rem;
}

html {
    scroll-behavior: smooth;
}


.work {
    height:100%;
    padding-top:1em;
}

.work h1 {
    height: 100%;
    font-size: var(--work-h1-size);
    padding-bottom:10px;
}

.work h2 {
    font-size: var(--work-h2-size);
    padding-bottom: 2px;
}

#description {
    padding-bottom:2px;
    font-size: var(--work-p-size);
}

.tab_block{
    margin-left:40px;
    padding-bottom:5px;
    font-size: var(--work-p-size);
}

.work p {
    padding-bottom:10px;
    font-size: var(--work-p-size);
}

hr {
    border: none;
    height: 1px;
    background: #DCDCDC;
}

/* FOOTER */

.footer{
    width:100%;
    height: auto;
    position: relative;
    padding-top:20px;
    padding-bottom:20px;
}

.footer .footer-content {
    height:150px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 10px;
}

.footer h1 {
    padding-bottom:10px;
}

.footer .footer-bottom{
    height:50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top:10px;
}




/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .header{
        display:flex;
        flex-direction: column;
        height:100%
    }

    .name_container {
        height: 50px;
    }

    .navbar{
        width:100%;
        vertical-align: center;
        height:50px;
    }

    .site .top_content {
        display: flex;
        flex-direction: column-reverse;
    }

    .top_img{
        display:flex;
        justify-content: center;
        padding-bottom: 30px;
    }


    .penang-gif img{
        display:flex;
        width: 350px;
        height: 300px;
    }

    .navbar a {
        height: 100%;
        display: table;
        float: left;
        padding-left: 0px;
        padding-right: 20px;
        
    }

    .footer {
        height: 250px;
    }

    .footer .footer-content {
        display: flex;
        flex-direction: column;
        height:150px;
    }


    .footer .footer-content .footer-section{
        flex: 1;
        padding: 10px;
    }
}

.site {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1.12rem;
    margin-bottom: 1.12rem;
  }
  